.marker-info-panel {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #d3d3d3; /* Light gray color */
    color: #7d7d7d; /* Darker gray for text */
    cursor: not-allowed; /* Change cursor to indicate disabled */
}


button:hover {
    background-color: #0056b3;
}

button.active {
    background-color: #28a745;
}

.delete-all {
    background-color: #dc3545;
}

.delete-all:hover {
    background-color: #c82333;
}

.marker-info {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}

